#offline {
  display: none;
  width: 500px;
  position: absolute;
  top: 50%;
  margin-top:-8px;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  color: #999999;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0,0,0,1);
}
#wrapper {
	width: 800px;
	margin: 20px auto;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	padding: 20px;
}